.recipe-index
  .row
    .col-sm-2.col-sm-offset-1
      %h4 Recipe Name
    .col-sm-2
      %h4 Prep Time
    .col-sm-2
      %h4 Cook Time
  - @recipes.each do |recipe|
    .row
      .col-sm-2.col-sm-offset-1
        %p= recipe.name
      .col-sm-2
        %p= recipe.prep_time
      .col-sm-2
        %p= recipe.cook_time