---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=laila%40tremblaylindgren.name&source=tok_chargeDeclined
    headers:
      Authorization:
      - Bearer sk_test_KKStXYXKeAGtRAD00YqxBAow
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Wed, 02 Aug 2017 13:10:06 GMT
recorded_with: VCR 3.0.3
