---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=je_langworth%40dibbert.name&source=tok_1AmRu0BFmrdX5M5iPHJPBp2t
    headers:
      Authorization:
      - Bearer sk_test_KKStXYXKeAGtRAD00YqxBAow
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_B8jMZLNYwyPvws",
          "object": "customer",
          "account_balance": 0,
          "created": 1501699745,
          "currency": null,
          "default_source": "card_1AmRu0BFmrdX5M5iZU2LLsA2",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "je_langworth@dibbert.name",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AmRu0BFmrdX5M5iZU2LLsA2",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_B8jMZLNYwyPvws",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2021,
                "fingerprint": "CH3mOez3zK7e7PYp",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_B8jMZLNYwyPvws/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_B8jMZLNYwyPvws/subscriptions"
          }
        }
  recorded_at: Wed, 02 Aug 2017 18:49:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_B8jMZLNYwyPvws&plan=silver_monthly
    headers:
      Authorization:
      - Bearer sk_test_KKStXYXKeAGtRAD00YqxBAow
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_B8jMa19rThWbe6",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1501699745,
          "current_period_end": 1502909345,
          "current_period_start": 1501699745,
          "customer": "cus_B8jMZLNYwyPvws",
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_1AmRu1BFmrdX5M5i9xiNC6ev",
                "object": "subscription_item",
                "created": 1501699746,
                "metadata": {},
                "plan": {
                  "id": "silver_monthly",
                  "object": "plan",
                  "amount": 499,
                  "created": 1501615169,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "silver_monthly",
                  "statement_descriptor": null,
                  "trial_period_days": 14
                },
                "quantity": 1
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_B8jMa19rThWbe6"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "silver_monthly",
            "object": "plan",
            "amount": 499,
            "created": 1501615169,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "silver_monthly",
            "statement_descriptor": null,
            "trial_period_days": 14
          },
          "quantity": 1,
          "start": 1501699745,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1502909345,
          "trial_start": 1501699745
        }
  recorded_at: Wed, 02 Aug 2017 18:49:05 GMT
recorded_with: VCR 3.0.3
