---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=katherine%40schmitt.biz&source=tok_visa
    headers:
      Authorization:
      - Bearer sk_test_KKStXYXKeAGtRAD00YqxBAow
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_B8dt7ud8HiNO65",
          "object": "customer",
          "account_balance": 0,
          "created": 1501679406,
          "currency": null,
          "default_source": "card_1AmMbyBFmrdX5M5iefYuQ3L1",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "katherine@schmitt.biz",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AmMbyBFmrdX5M5iefYuQ3L1",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_B8dt7ud8HiNO65",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "CH3mOez3zK7e7PYp",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_B8dt7ud8HiNO65/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_B8dt7ud8HiNO65/subscriptions"
          }
        }
  recorded_at: Wed, 02 Aug 2017 13:10:06 GMT
recorded_with: VCR 3.0.3
