.select_plan 
  %h1 Select The Plan That Best Fits Your Needs
  %section.container
    .row
      = bootstrap_form_tag url: register_checkout_path, class: "tester", method: "get" do |f|
        .col-sm-3.col-sm-offset-1
          %section.plan
            %h2 Bronze
            %h4 Free
            %p Basic Meal Planning
            %p Upgrade Anytime
            = f.submit "", name: "plan", value: "Select Bronze Plan"
        .col-sm-3
          %section.plan
            %h2 Silver
            %h4 $4.99/month
            %p Intermediate Meal Planning
            %p 14-day Free Trial
            = f.submit "", name: "plan", value: "Select Silver Plan"
        .col-sm-3
          %section.plan
            %h2 Gold
            %h4 $9.99/month
            %p Advanced Meal Planning
            %p 14-day Free Trial
            = f.submit "", name: "plan", value: "Select Gold Plan"
      // .col-sm-5
      //   = bootstrap_form_for @user, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-6" do |f|
      //     %fieldset
      //       = f.email_field :email, label: "Email Address"
      //       = f.password_field :password, placeholder: "Must be at least 8 characters"
      //       = f.text_field :zip_code, label: "Zip Code"
      //     %fieldset.actions.control-group.col-sm-offset-2
      //       .controls
      //         = f.submit "Sign Up"