.register, .sign-in.container, .forgot-password, .select_plan, .subscribe
  h1
    font-size: 36px
    color: $primary-color
    text-align: center
    padding: 10px 0
  h2
    font-size: 24px
    color: $primary-color
    text-align: center
    padding: 8px 0
  h3
    font-size: 18px
    color: $color4
    text-align: center
    padding-bottom: 50px
  span.help-block
    font-size: 10px
  label
    color: $primary-color
  .btn
    background: $color4
    color: $primary-color